@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body{
    background-color: rgb(25, 25, 25);
    margin: 0px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    color: rgb(255,255,255);
}

img#target{
    position: absolute;
    display: none;
}

header.flexRow{
    position: relative;
    top: 0px;
    height: 10vh;
    margin: 0px;
    background-color: rgb(45, 45, 45);
    border-bottom: solid rgb(160, 120, 45) .4vh;
    box-shadow: rgb(25, 25, 25) 2px 1px 2px;
    box-sizing: border-box;
    z-index: 5;
}

.headerDiv{
    position: relative;
    display: block;
    width: 30vh;
    margin: 0px 20px 0px 20px;
    padding: 5px;
}   

.astro{
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1000000;
}

.flexRow{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexColumn{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div#barrier{
    background-color: rgba(0,0,0,0);
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
}

article#options{
    top: 10vh;
    background-color: rgba(0,0,0,.7);
    width: 100% ;
    height: 90vh;
    display: none;
}

div.flexRow{
    position: relative;
}

div#options{
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    border: solid rgb(160, 120, 45) .25vh;
    padding: 0vh 3vh 3vh 3vh;
    width: 45vh;
}

label#precisionMode{
    margin: 0 25px 0 5px;
    position: relative;
}

label#precisionMode span img{
    width: 20px;
    height: 20px;
    margin: 10px;
}

select{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(160, 120, 45);
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}

#precisionModeWarning{
    display: none;
    font-size: 0.7em;
    word-wrap: normal;
    font-weight: 900;
    color: rgb(255, 0, 0);
}

footer.flexColumn{
    position: relative;
    width: 45vh;
    padding-top: 5px;
    margin-top: 5px;
    border-top: solid rgb(160, 120, 45) .25vh;
    font-size: 0.7em;

}

footer img{
    width: 20px;
    height: 20px;
    margin: 0 5px -5px 5px;
}

.interfaceButton{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    background: rgb(160, 120, 45);
    z-index: 2;
    width: 34px;
    height: 34px;
    box-shadow: -1px 1px 2px rgba(175,175,175,.7);
    border-top: solid 0.4vh rgb(25, 25, 25, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 10vh;
}

.interfaceButton img{
    width: 24px;
    height: 24px;
    padding: 5px;
}

.interfaceButton:hover{
    height: 40px;
    cursor: pointer;
    color: white;
}

div#addAstroButton{
    left: 5px;
    box-shadow: 1px 1px 2px rgba(175,175,175,.7);
}

a#help{
    left: 50%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    transform: translateX(-50%);
}

a#help:hover{
    height: 34px;
    
}

div#moreButton{
    right: 5px;
    display: none;
    opacity: 0;
}

div#delete{
    right: 48px;
    display: none;
    opacity: 0;
}

div#delete:hover{
    height: 34px;
}

.sideMenu{
    position: absolute;
    justify-content: flex-start;
    height: 82vh;
    width: 18vw;
    top: -72.4vh;
    z-index: 4;
    box-sizing: border-box;
    background-color: rgb(45, 45, 45);
    border-bottom: solid rgb(160, 120, 45) .25vh;
    font-size: 1em;
}

article#addAstroMenu{
    left: 0;
    border-right: solid rgb(160, 120, 45) .25vh;
    border-bottom-right-radius: 5px;
}

.sideMenu h3{
    padding: 5px 20px 5px 20px;
    margin: 0;
    border-bottom: solid rgb(160, 120, 45) .25vh;

}

article#addAstroMenu img{
    width: 20vh;
    height: 20vh;
    padding: 5px;
}

article#addAstroMenu span{
    background-color: rgb(160, 120, 45);
    border-radius: 0.25vh;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 2vh 0 1vh 0;
}

article#addAstroMenu span:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(255,255,255,.7);

}

.sideMenu .components{
    margin: 10px 10px 10px 10px;
    align-items: baseline;
    display: flex;
    flex-direction: column;
}

div#elementsAstroMenu p{
    padding-left: 5px;
}

div#elementsAstroMenu p.label{
    padding-left: 0;
}

div#elementsAstroMenu input{
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 4vw;
    margin-left: 5px;
}

div#elementsAstroMenu input:disabled{
    color: rgb(175,175,175);
}

div#elementsAstroMenu select{
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

div#elementsAstroMenu div.flexRow{
    margin-bottom: 5px;
    position: relative;
    height: 5vh;
}

div#presetButtons{
    position: absolute;
    display: none;
    opacity: 0;
    justify-content: left;
    align-items: flex-end;
    transform: translateY(0.25vh);
    top: 82vh;
    left: 44px;
    width: 100%;
} 

div#presetButtons div{
    position: relative;
    display: flex;
    margin-left: 5px;
    top: 0;
    width: 30px;
    height: 30px;
    border-top: solid 0.25vh rgb(25, 25, 25, 0.7);
}

div#presetButtons div img{
    width: 20px;
    height: 20px;
}

div#presetButtons div:hover{
    height: 30px;
}

article#descriptionMenu{
    right: 0;
    
    border-left: solid rgb(160, 120, 45) .25vh;
    border-bottom-left-radius: 5px;
}

.vetores{
    position: relative;
    justify-content: left;
}

article#descriptionMenu div{
    position: relative;
    align-items: baseline;
}

article#descriptionMenu p{
    margin: 8px 5px 0 5px;
}

div#coordinates{
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.caption{
    margin: 0.25em;
    height: 1em;
    width: 1em;
   transform: translateY(0.1em);

}

#velocityVector span{
    background-color: #37286E;
}

#accelerationVector span{
    background-color: #1C625D;
}

#centripetalAccelerationVector span{
    background-color: #1F6B50;
}

#tangencialAccelerationVector span{
    background-color: #205164;
}

div#demonstration{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

article#descriptionMenu div div.vectorDemonstration {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
    width: 12vw;
    height: 12vw;
}

div.vectorDemonstration img{
    max-width: 100%;
    max-height: 100%;
}

#planet figure{
    width: 4vw;
    height: 4vw;
    padding: 4vh;
    z-index: 8;
}